# {{ ansible_managed }}
# ansibleguy.sw_awx

[Unit]
Description=Service to start ansible-awx docker containers via docker-compose
Requires=docker.service
After=network.target
Documentation=https://github.com/ansibleguy/sw_awx

[Service]
Type=simple
TimeoutStartSec=120
ExecStart=docker-compose -f {{ AWX_CONFIG.path }}/tools/docker-compose/_sources/docker-compose.yml up
{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=ansible_awx

[Install]
WantedBy=multi-user.target
