# {{ ansible_managed }}
[Unit]
Description=Timer to back-up ansible-awx postgres database

[Timer]
OnCalendar={{ AWX_CONFIG.backup_timer }}
Persistent=false
WakeSystem=false

[Install]
WantedBy=multi-user.target
