# {{ ansible_managed }}
# NOTE:
#   restore: cat /var/backups/awx_dump.sql | docker exec -i tools_postgres_1 psql -U awx
[Unit]
Description=Service to back-up ansible-awx postgres database
After=network.target

[Service]
Type=simple
TimeoutStartSec=120
ExecStartPre=mkdir -p {{ AWX_CONFIG.backup_path }}
ExecStart=/bin/bash /usr/local/sbin/backup_ansible_awx.sh
ExecStop=find {{ AWX_CONFIG.backup_path }} -name "awx_dump_*.sql.xz" -type f -mtime +{{ AWX_CONFIG.backup_retention_days }}
ExecStop=find {{ AWX_CONFIG.backup_path }} -name "awx_dump_*.sql.xz" -type f -mtime +{{ AWX_CONFIG.backup_retention_days }} -delete
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ansible_awx
